@model CampusEats.Models.Zaliha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zaliha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivArtikla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivArtikla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolicina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimalnaKolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimalnaKolicina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
